body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    background-color: #fffef9;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* header */
.header__container {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    width: 1028px;
    min-height: 50px;
    align-items: center;
}

.header__nav a {
    margin: 0px 10px;
    padding: 5px 13px;
    text-decoration: none;
    color: gray;
    border: 1.5px solid #fecc5d;
    border-radius: 35px;
}

.header__nav a:focus,
.header__nav a:hover {
    background-color: #ffd952;
    color: #a68027;
}

/* footer */
.footer__container {
    background-color: #fff;
    display: flex;
    justify-content: center;
}

footer {
    width: 1028px;
    min-height: 40px;
    padding: 20px 40px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__line-fir {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    border-bottom: 1px solid #ccc;
    padding: 30px;
    color: gray;
}

.footer__line-sec {
    color: gray;
    padding-top: 5px;
    padding-bottom: 20px;
}

.footer__line-fir span:focus,
.footer__line-fir span:hover {
    color: black;
}

/* post navigation */
.post__navigation {
    display: flex;
    gap: 12px;
    margin: 0 auto;
    max-width: 680px;
    font-size: 16px;
    color: gray;
    cursor: pointer;
    padding: 48px 20px 0px 20px;
}

.post__navigation-active {
    color: black;
    font-weight: 600;
}

.post__navigation {
    display: flex;
    gap: 12px;
    margin: 0 auto;
    max-width: 680px;
    font-size: 16px;
    color: gray;
    cursor: pointer;
    padding: 48px 20px 20px 20px;
    border-bottom: 1px solid #f2f2f2;
}

.post__navigation--active {
    color: black;
    font-weight: 600;
}

/* post list, post detail */
.post__list {
    min-height: 90vh;
    padding: 20px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.post__detail {
    min-height: 90vh;
    padding: 20px;
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
    text-align: left;
    line-height: 24px;
}

.post__list a {
    text-decoration: none;
    color: black;
}

.post__box {
    padding: 20px;
    border: 1.5px solid #e1ae3a;
    border-radius: 20px;
    background-color: #fff;
}

.post__box:hover {
    background-color: #fdedcb;
}

.post__detail_box {
    padding: 20px;
    border: 1.5px solid #e1ae3a;
    border-radius: 20px;
    margin-bottom: 18px;
    background-color: #fff;
}

.post__sub-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.post__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__profile-box {
    display: flex;
    gap: 8px;
    font-size: 14px;
    align-items: center;
}

.post__profile {
    width: 30px;
    height: 30px;
    background-color: #f2f2f2;
    border-radius: 50%;
}

.post__date .post__author-name {
    color: gray;
}

.post__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.post__text {
    color: dimgray;
    font-size: 16px;
}

.post__utils-box {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    font-size: 14px;
    color: dimgray;
}

.post__utils-box a {
    border: 1px solid #fecc5d;
    border-radius: 20px;
    padding: 3px 6px;
    background-color: #fff;
}

.post__utils-box > div {
    border: 1px solid #fecc5d;
    border-radius: 20px;
    padding: 3px 6px;
    background-color: #fff;
}

.post__utils-box a:hover,
.post__utils-box > div:hover {
    background-color: #fdedcb;
}

.post__detail-utils-box {
    display: flex;
    justify-content: space-between;
}

.post__utils-btn-box {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-right: 10px;
}

.post__delete {
    width: 50px;
    text-align: center;
    cursor: pointer;
    color: gray;
    border: 1px solid #fecc5d;
    border-radius: 30px;
}

.post__delete:hover,
.post__delete:focus {
    color: #a68027;
    background-color: #fdedcb;
}

a.post__edit {
    width: 50px;
    text-decoration: none;
    text-align: center;
    color: gray;
    border: 1px solid #fecc5d;
    border-radius: 30px;
}

a.post__edit:hover,
a.post__edit:focus {
    color: #a68027;
    background-color: #fdedcb;
}

.post__no-post {
    padding: 24px;
    text-align: center;
    color: gray;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
}

/* post card */
.postcard {
    width: 27%;
    border: 1.5px solid #e1ae3a;
    border-radius: 20px;
    padding: 20px;
    height: 200px;
    background-color: #fff;
    display: flex;
    margin: 10.7px;
}

.postcard a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.postcard__content-box {
    display: flex;
    flex-direction: column;
}

.postcard__title {
    font-size: 20px;
    font-weight: 600;
}

.postcard__info-box {
    display: flex;
    align-items: center;
    gap: 13px;
    margin: 10px 0px 15px 0px;
}

.postcard__info-sec {
    color: gray;
    font-size: 14px;
    line-height: 18px;
}

/* post content(detail) */
.post__detail-page {
    display: flex;
    gap: 30px;
}
.post__detail_box {
    flex-basis: 2;
}
.post__detail .post__title {
    font-size: 36px;
    line-height: 40px;
}

.post__detail .post__utils-box {
    padding: 10px 0px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.post__detail .post__profile-box {
    padding: 10px 0px;
}

.post__detail .post__contents {
    padding: 20px 0px;
}

.post__text-pre-wrap {
    white-space: pre-wrap;
}

.post__category {
    color: gray;
    border: 1px solid lightgray;
    background-color: #f2f2f2;
    padding: 0px 4px;
    border-radius: 10px;
    font-size: 12px;
}

/* profile */
.profile__box {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    margin: 0 auto;
    max-width: 680px;
    text-align: left;
    line-height: 24px;
    justify-content: space-between;
    padding: 20px;
}

.flex__box-lg {
    display: flex;
    gap: 18px;
    align-items: center;
}

.profile__img {
    width: 72px;
    height: 72px;
    background-color: #f2f2f2;
    border-radius: 50%;
}

.profile__img > img {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.profile__name {
    font-size: 16px;
    padding-top: 4px;
}

.profile__email {
    font-weight: 500;
}

.profile__logout {
    color: gray;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.profile__logout:hover,
.profile__logout:focus {
    color: black;
}

.profile__avatar_input {
    display: none;
}

/* carousel */
.carousel__container {
    width: 100vw;
    height: 400px;
    background-color: #ffd952;
}
.carousel {
    margin: 0 auto;
    width: 1024px;
    /* margin-top: 36px; */
}

ul.carousel__slides {
    display: block;
    position: relative;
    height: 400px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.carousel__slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.carousel__slides input {
    display: none;
}

.carousel__slide-container {
    display: block;
}

.carousel__slide-img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

.carousel__slide-img img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel__controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 400px;
    color: #fff;
}

.carousel__controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity 0.2s;
    cursor: pointer;
}

.carousel__slide-img:hover + .carousel__controls label {
    opacity: 0.5;
}

.carousel__controls label:hover {
    opacity: 1;
}

.carousel__controls .carousel__slide-prev {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel__controls .carousel__slide-next {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel__dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel__dots .carousel__dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .carousel__slide-container .carousel__slide-img {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .carousel__slide-container .carousel__controls label {
    display: block;
}

input#img-1:checked ~ .carousel__dots label#img-dot-1,
input#img-2:checked ~ .carousel__dots label#img-dot-2,
input#img-3:checked ~ .carousel__dots label#img-dot-3 {
    opacity: 1;
}

input:checked + .carousel__slide-container .nav label {
    display: block;
}

/* form */
.form {
    margin: 0 auto;
    width: 1024px;
    margin-top: 20px;
}

.form input {
    height: 20px;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #e1ae3a;
    width: 96%;
    max-width: 680px;
}

.form textarea {
    min-height: 400px;
    padding: 10px 10px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 30px;
    border: 1px solid #e1ae3a;
    width: 96%;
    max-width: 680px;
}

.form .form__block {
    margin-top: 20px;
    width: 100%;
}

.form label {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px;
}

.form .form__block-center {
    margin-top: 20px;
    text-align: center;
}

.form .form__btn-submit {
    width: 150px;
    height: 40px;
    font-weight: 600;
    padding: 10px 10px;
    float: right;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    background-color: #fdedcb;
    color: #a68027;
}

.form .form__btn-submit:hover,
.form .form__btn-submit:focus {
    background-color: #fecc5d;
    color: #fff;
}

#category {
    border: 1px solid #e1ae3a;
}

/* login form */
.form-lg {
    min-height: 70vh;
    margin-top: 15vh;
}

.form__title {
    text-align: center;
    margin-bottom: 4px;
}

.form__link {
    font-weight: 500;
    margin-left: 10px;
    text-decoration: none;
    color: #a68027;
}

.form__link:hover,
.form__link:focus {
    color: #ffd952;
}

.form__error {
    color: red;
}

.form select {
    border: 1px solid lightgray;
    max-width: 680px;
    height: 40px;
    padding: 0px 20px;
    font-size: 16px;
    border-radius: 0.3rem;
}

.form__error {
    color: tomato;
}

.form select {
    border: 1px solid lightgray;
    max-width: 680px;
    height: 40px;
    padding: 0px 20px;
    font-size: 16px;
    border-radius: 0.3rem;
}

/* loader */
.loader {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 5px solid #2563eb;
    border-radius: 50%;
    z-index: 9999;
    animation: rotation 1s linear infinite;
}

/* comments */

.comments {
    width: 30%;
}

.comments__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comments__form label {
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
}

.comments__form textarea {
    min-height: 100px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 15px;
    border: 1.5px solid #e1ae3a;
    display: block;
    width: 100%;
    max-width: 680px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.comments__form .form__block {
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

.comments__form .form__btn-submit {
    width: 100px;
    height: 36px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    background-color: #fdedcb;
    color: gray;
    border: none;
    border-radius: 5px;
}

.form__block-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.comments__form .form__btn-submit:hover,
.comments__form .form__btn-submit:focus {
    background-color: #fecc5d;
    color: #a68027;
}

.comments__list {
    margin-top: 40px;
    margin-bottom: 100px;
}

.comment__box {
    padding: 12px 0px;
    border-bottom: 1px solid #f2f2f2;
}

.comment__profile-box {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 12px;
}

.comment__email {
    font-weight: 500;
}

.comment__date {
    color: gray;
}

.comment__delete {
    color: gray;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
}

.comment__delete:hover,
.comment__delete:focus {
    color: black;
}

.comment__text {
    font-size: 14px;
    padding-top: 4px;
}
